@font-face {
    font-family: "gageda";
    src: url("../font/GagedaOld.ttf");
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
    background: linear-gradient(150deg, rgb(0, 0, 0) 52%, rgb(84, 15, 12));

    color: white;
}

html {
    font-family: "gageda" !important;
}

p {
    font-family: "Montserrat" !important;
}

a {
    color: white;
    text-decoration: none;
}
